[
  {
    "scope": "http://editor.bild-int.leancms.de:80",
    "method": "POST",
    "path": "/api/graphql",
    "body": {
      "operationName": null,
      "variables": {
        "_v0_input": {
          "id": "5afb22871a6fcc00015ec57d"
        }
      },
      "query": "query ($_v0_input: ArticleInput) {\n  article(input: $_v0_input) {\n    documentType\n    state\n    creationDate\n    publicationDate\n    firstPublicationDate\n    modificationDate\n    editors\n    adState\n    kicker\n    headline {\n      data\n    }\n    headlinePlain\n    subcell {\n      data\n    }\n    subcellPlain\n    text {\n      data\n    }\n    lead {\n      ... on ImageElement {\n        renderUrl\n        caption {\n          data\n        }\n        width\n        height\n        aspectRatio\n        source\n      }\n      __typename\n    }\n    title\n    metaDescription\n    canonicalLink\n    taxonomyNodes {\n      id\n      name\n    }\n    author\n    displayDate\n    id\n    pageTitle\n    premium\n    conversionText {\n      data\n    }\n  }\n}\n"
    },
    "status": 200,
    "response": [
      "1f8b0800000000000003ec57db6ee44410fd95c24f20cd4c7c99fb0bca2acb027b8b9200d2a2156abbcb7613bb6dfa92ec64b5d2fe03af48f0b0dfc0136ff3277c0955ed492640562c028484904623abba5d75fad4a9aaf6cb480a27a2f5cb4818a78a06c3a33c75c2d1233dd9a73a1a45c2bbba3364f8b4d37a038f943e47321742775a15a26103ad1ee4e804fda97165abf16a8c4a5be1aec64257688bbab316f5b8ef1a7585aaf65a8e4b8f66acda96fea5426d9dd7a5c05a552f26b56b1b0ed1e90b345675fa0c5fb868ad7dd390d5a070643b1a60a671b21cc7f371929e25c93a5eac67cb49369d3da3f7a5b27d2336bfda38[...]
  {
    "scope": "http://127.0.0.1:63928",
    "method": "POST",
    "path": "/api/graphql",
    "body": {
      "query": "query fetchArticle($input: ArticleInput) { \n          article(input: $input) { \n            documentType\n            state\n            creationDate\n            publicationDate\n            firstPublicationDate\n            modificationDate\n            editors\n            adState\n            noIndexNoFollow\n            kicker\n            headline {\n              data\n            }\n            headlinePlain\n            subcell {\n              data\n            }\n            subcellPlain\n            text {\n              data\n            }\n            lead {\n              ... on ImageElement {\n                renderUrl\n                caption {\n                  data\n                }\n                width\n                height\n                aspectRatio\n                source\n              }\n            }\n            title\n            metaDescription\n            canonicalLink\n            taxonomyNodes {\n              id\n              name\n            }\n            author\n            displayDate\n            id\n            pageTitle\n            premium\n            conversionText {\n              data\n            }\n          }\n        }",
      "variables": {
        "input": {
          "id": "5afb22871a6fcc00015ec57d"
        }
      }
    },
    "status": 200,
    "response": {
      "data": {
        "article": {
          "documentType": "article",
          "state": "checkedOut",
          "creationDate": "2018-06-12T11:07:58.345Z",
          "publicationDate": "2018-06-11T08:28:39.032Z",
          "firstPublicationDate": "2018-05-15T22:06:50.494Z",
          "modificationDate": "2018-06-12T12:37:00.715Z",
          "editors": [
            "Admin"
          ],
          "adState": "adsOn",
          "noIndexNoFollow": null,
          "kicker": "Bei GSG 9-Einsatz angeschossen",
          "headline": {
            "data": {
              "blocks": [
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [],
                  "key": "16clb",
                  "text": "Polizeihund für immer dienstunfähig?",
                  "type": "unstyled"
                }
              ],
              "entityMap": {}
            }
          },
          "headlinePlain": "Polizeihund für immer dienstunfähig?",
          "subcell": {
            "data": {
              "blocks": [
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [],
                  "key": "aets7",
                  "text": "Dieses Foto geht richtig ans Herz! Ein schwer bewaffneter Polizist der GSG-9 trägt einen verletzten Hund vom Tatort weg. Das Tier wurde bei der Fahndung nach dem Oma-Killer von Dresden angeschossen. Der am Montag schwer verletzte Hund kämpft weiter ums Überleben. Napalm Death",
                  "type": "unstyled"
                },
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [],
                  "key": "27u63",
                  "text": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.",
                  "type": "unstyled"
                }
              ],
              "entityMap": {}
            }
          },
          "subcellPlain": "Dieses Foto geht richtig ans Herz! Ein schwer bewaffneter Polizist der GSG-9 trägt einen verletzten Hund vom Tatort weg. Das Tier wurde bei der Fahndung nach dem Oma-Killer von Dresden angeschossen. Der am Montag schwer verletzte Hund kämpft weiter ums Überleben. Napalm Death Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.",
          "text": {
            "data": {
              "blocks": [
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [
                    {
                      "length": 19,
                      "offset": 113,
                      "style": "BOLD"
                    }
                  ],
                  "key": "5chtg",
                  "text": "Nachdem sich Robert K. († 33), der vergangenen Samstag eine Rentnerin (75) tötete, in einer alten Kaserne in der Königsbrücker Heide verschanzt hatte, rückte die GSG 9 an – mit dabei der Zugriffshund.",
                  "type": "unstyled"
                },
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [
                    {
                      "length": 380,
                      "offset": 0,
                      "style": "BOLD"
                    }
                  ],
                  "key": "b9tp6",
                  "text": "Die Spezialhunde sind für spezielle polizeiliche Einsatzlagen ausgebildet, werden ausschließlich im Bereich der Schwerstkriminalität eingesetzt – besonders wenn eine hohe Gefährdung für Polizeikräfte oder für andere Personen besteht. Und die ging von Robert K. aus. Er schoss gezielt aus der alten Russen-Kaserne auf die angerückten Polizisten und traf dabei einen Beamten am Arm.",
                  "type": "unstyled"
                },
                {
                  "data": {
                    "altText": "Ein Mann steht unter einem Wassersprenger auf einer Wiese.",
                    "aspectRatio": "landscape",
                    "caption": {
                      "data": {
                        "blocks": [
                          {
                            "data": {},
                            "depth": 0,
                            "entityRanges": [],
                            "inlineStyleRanges": [],
                            "key": "2nu28",
                            "text": "Ein Mann steht unter einem Wassersprenger auf einer Wiese.",
                            "type": "unstyled"
                          }
                        ],
                        "entityMap": {}
                      },
                      "fragments": [],
                      "type": "draftJs",
                      "typeVersion": "Beta 1.00"
                    },
                    "crop": {
                      "lowerRightX": 3500,
                      "lowerRightY": 2021,
                      "upperLeftX": 0,
                      "upperLeftY": 53
                    },
                    "displayFormat": "center",
                    "fragmentType": "image",
                    "height": 2278,
                    "id": "f016a311be874231f2d53d0bbad18885",
                    "reference": "5b17b39e8b15480001707003",
                    "showImageCrop": false,
                    "type": "image",
                    "width": 3500
                  },
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [],
                  "key": "6nv5b",
                  "text": "Ein Mann steht unter einem Wassersprenger auf einer Wiese.",
                  "type": "atomic"
                },
                {
                  "data": {},
                  "depth": 0,
                  "entityRanges": [],
                  "inlineStyleRanges": [
                    {
       [...]
