{
  "parser": "babel",
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.graphql",
      "options": {
        "parser": "graphql"
      }
    }
  ]
}
